{% extends "base.html" %}
{% block title %} - Home{% endblock %}

{% block content %}
<div class="col-lg-6">
  <img src="{{ url_for("static", filename="img/front_banner.jpg") }}" class="img-responsive">
</div>
<div class="col-lg-6">

  <h1>Explore</h1>

  <div class="btn-toolbar">
    <button onclick="javascript:location.href=&quot;{{ url_for('teams') }}&quot;" type="button" class="btn btn-default btn-lg btn-block">
      <img class="img-menu img-responsive" src="{{ url_for("static", filename = "img/team.jpg") }}">
      <span class="span-menu">
        Teams
      </span>
    </button>
    <button onclick="javascript:location.href=&quot;{{ url_for('meets') }}&quot;" type="button" class="btn btn-default btn-lg btn-block">
      <img class="img-menu img-responsive" src="{{ url_for("static", filename = "img/meet.jpg") }}">
      <span class="span-menu">
        Meets
      </span>
    </button>
    <button onclick="javascript:location.href=&quot;{{ url_for('courses') }}&quot;" type="button" class="btn btn-default btn-lg btn-block">
      <img class="img-menu img-responsive" src="{{ url_for("static", filename = "img/course.jpg") }}">
      <span class="span-menu">
        Courses
      </span>
    </button>
    <button onclick="javascript:location.href=&quot;{{ url_for('predictions') }}&quot;" type="button" class="btn btn-default btn-lg btn-block">
      <img class="img-menu img-responsive" src="{{ url_for("static", filename = "img/prediction.jpg") }}">
      <span class="span-menu">
        Predictions
      </span>
    </button>

    <hr>
    <h1>Admin</h1>

    <button onclick="javascript:location.href=&quot;{{ url_for('uploads') }}&quot;" type="button" class="btn btn-default btn-lg btn-block">
      <img class="img-menu img-responsive" src="{{ url_for("static", filename = "img/upload.jpg") }}">
      <span class="span-menu">
        Upload
      </span>
    </button>
  </div>
</div>
{% endblock %}
